{% extends 'base.html.twig' %}
{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-login">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12" style="padding-bottom: 20px;">
                                <a href="{{ path("page_list") }}">All trips</a> | <a href="{{ path("page_gpx") }}">Insert</a> | <a href="{{ path("page_logout") }}">Log out</a>
                            </div>
                        </div>

                        {% block subbody %}
                        {% endblock %}

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}